@model List<Event>

<section class="schedule-section section-padding" id="section_4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white mb-4">Etkinlik Programı</h2>
                <div class="table-responsive">
                    <table class="schedule-table table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Tarih</th>
                                <th scope="col">Çarşamba</th>
                                <th scope="col">Perşembe</th>
                                <th scope="col">Cuma</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count >= 3)
                            {
                                <tr>
                                    <th scope="row">Gün 1</th>
                                    <td class="table-background-image-wrap sagopa-background-image">
                                        <h3>@Model[0].Title</h3>
                                        <p class="mb-2">@Model[0].Time</p>
                                        <p>@Model[0].Artist</p>
                                        <div class="section-overlay"></div>
                                    </td>
                                    <td style="background-color: #F3DCD4"></td>
                                    <td class="table-background-image-wrap country-background-image">
                                        <h3>@Model[2].Title</h3>
                                        <p class="mb-2">@Model[2].Time</p>
                                        <p>@Model[2].Artist</p>
                                        <div class="section-overlay"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Gün 2</th>
                                    <td style="background-color: #ECC9C7"></td>
                                    <td class="table-background-image-wrap pop-background-image">
                                        <h3>@Model[1].Title</h3>
                                        <p class="mb-2">@Model[1].Time</p>
                                        <p>@Model[1].Artist</p>
                                        <div class="section-overlay"></div>
                                    </td>
                                    <td style="background-color: #D9E3DA"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Gün 3</th>
                                    <td class="table-background-image-wrap rock-background-image">
                                        <h3>@Model[3].Title</h3>
                                        <p class="mb-2">@Model[3].Time</p>
                                        <p>@Model[3].Artist</p>
                                        <div class="section-overlay"></div>
                                    </td>
                                    <td style="background-color: #D1CFC0"></td>
                                    <td>
                                        <h3>Özel Stiller</h3>
                                        <p class="mb-2">22:00</p>
                                        <p>Sürpriz Sanatçı</p>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">Gösterilecek yeterli etkinlik yok.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
